*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
header{
    text-align: left;
    background-color: rgb(193, 240, 223);
}

div#wrapper{
    background-color: rgb(250, 240, 234);
}

li {
    background-color: rgb(128, 128, 128);
    padding: 10px;
    padding-left: 20px;
    border-top: 1px solid white;
}

ul{
    padding: 0px;
    margin: 0px;
    padding-top: 50px;
}
@media all and (min-width: 550px){
    ul{
        background-color: rgb(128, 128, 128);
    }
    li{
        display: inline-block;
        border: none;
    }
    footer {
        background-color: rgb(128,128,128);
        color: white;
        clear: both;
    }
    footer h3{
        color: white;
    }
}
li a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
h3{
    color: rgb(220, 106, 94);
    text-align: left;
    margin: 10px;
}
section footer{
    padding: 20px;
    background-color: rgb(128,128,128);
}
@media all and (min-width: 920px){
    .article:nth-child(even){
        margin-right: 0;
    }
    .articles {
        width: 65%;
        vertical-align: top;
        padding-right: 50px;
        margin-left: 50px;

    }
    .arcticle:last-child{
        padding-right: 0;
    }
    .articles1{
        display: grid;
        grid-template-columns: 500px 400px;
        grid-template-rows: auto auto;
        grid-gap: 1px;
    }
    .articles2{
        display: grid;
        grid-template-columns: 500px 400px;
        grid-gap: 1px;
    }
    .articles3{
        display: grid;
        grid-template-columns: 500px 400px;
        grid-gap: 1px;
    }
    .item1{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .item2 li{
        background-color: rgb(250, 240, 234);
    }
    .item2{
        margin-top: 20px;
        width: 400px;

    }
    .item3{
        margin-top: 20px;
        grid-column-start: 2;
        grid-column-end: 2;
    }
    :last-child .item3{

        grid-row-start: 2;
        grid-row-end: 2;
    }
}

@media all and (min-width: 1200px) {
    footer {
        background-color: rgb(128,128,128);
        color: white;
        clear: both;
    }
    div#wrapper{
        width: 1200px;
        margin: auto;
    }

    footer h3{
        color: white;
    }

}