* {
    box-sizing: border-box;
}

body {
    background-color: rgb(250,241,234);
    font-family: 'Montserrat', sans-serif;
}

section#Concerten {
    float: left;
    width: 50%;
}

section#Concerten1 {
    float: right;
    width: 50%;

}

section#Gegevens {
    float: bottom;
    width: 10%;

}
li.b{
    background-color: rgb(128,128,128);
    padding: 10px;
    padding-left: 20px;
    border-top: 1px solid white;
}

ul b{
    background-color: rgb(128,128,128);
    padding: 0px;
    margin: 0px;
    padding-top: 50px;
}
@media all and (min-width: 550px){
    ul{

    }
    li b{
        background-color: rgb(128,128,128);
        display: inline-block;
        border: none;
    }
}
li a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

footer {
    background-color: rgb(128,128,128);
    color: white;
    clear: both;
}

footer h3{
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
